StarWars.People.API/StarWars.People.API/bin/*
StarWars.People.API/StarWars.People.API/obj/*
StarWars.People.API/.vscode/*
.DS_Store
Docs/~$tupDevEnv.docx
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/appsettings.Development.json
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/appsettings.json
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/Microsoft.Extensions.Caching.StackExchangeRedis.dll
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/Microsoft.OpenApi.dll
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/Newtonsoft.Json.dll
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/Pipelines.Sockets.Unofficial.dll
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/StackExchange.Redis.dll
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/StarWars.Film.API
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/StarWars.Film.API.deps.json
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/StarWars.Film.API.dll
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/StarWars.Film.API.pdb
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/StarWars.Film.API.runtimeconfig.json
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
StarWars.Film.API/StarWars.Film.API/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/apphost
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/ref/StarWars.Film.API.dll
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/refint/StarWars.Film.API.dll
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/StarWars.7F23A5E6.Up2Date
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/StarWars.Film.API.AssemblyInfo.cs
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/StarWars.Film.API.AssemblyInfoInputs.cache
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/StarWars.Film.API.assets.cache
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/StarWars.Film.API.csproj.AssemblyReference.cache
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/StarWars.Film.API.csproj.CoreCompileInputs.cache
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/StarWars.Film.API.csproj.FileListAbsolute.txt
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/StarWars.Film.API.dll
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/StarWars.Film.API.GeneratedMSBuildEditorConfig.editorconfig
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/StarWars.Film.API.genruntimeconfig.cache
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/StarWars.Film.API.GlobalUsings.g.cs
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/StarWars.Film.API.MvcApplicationPartsAssemblyInfo.cache
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/StarWars.Film.API.MvcApplicationPartsAssemblyInfo.cs
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/StarWars.Film.API.pdb
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/StarWars.Film.API.sourcelink.json
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/staticwebassets.build.json
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/staticwebassets/msbuild.build.StarWars.Film.API.props
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.StarWars.Film.API.props
StarWars.Film.API/StarWars.Film.API/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.StarWars.Film.API.props
StarWars.Film.API/StarWars.Film.API/obj/project.assets.json
StarWars.Film.API/StarWars.Film.API/obj/project.nuget.cache
StarWars.Film.API/StarWars.Film.API/obj/StarWars.Film.API.csproj.nuget.dgspec.json
StarWars.Film.API/StarWars.Film.API/obj/StarWars.Film.API.csproj.nuget.g.props
StarWars.Film.API/StarWars.Film.API/obj/StarWars.Film.API.csproj.nuget.g.targets
